<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Picturing Urban Renewal</title>
  <!-- <link rel="stylesheet" href="https://stackedit.io/style.css" /> -->
  <link rel="stylesheet" href="styles/css/UR-project-site-styles.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <style type="text/css" media="screen">
    .thumb-label-text {
      font-family: "FontinSans-Regular";
      font-size:12px;
    },
    .graphic-menu {
      border-top: 1px solid #ddd;
      max-width: 83%;
    }
  </style>
</head>

<body>
<div id="app">
	<div class="menu-page">
		<h1 id="magic-lens-documentation">Picturing Urban Renewal</h1>
    <p>This site provides access to mockups and other draft online material and links related to the NEH Digital Projects for the Public Prototype Phase “Picturing Urban Renewal" grant application. These pages are offered to accompany the written grant proposal and further information about the mockups can be found there. (Modern browser required -- e.g. not IE 11)</p>

    <!-- graphic menu --> 
    <svg class="graphic-menu" version="1.1" xmlns="http://www.w3.org/2000/svg" 
      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 1254.6 1286.8" enable-background="new 0 0 1254.6 1286.8" xml:space="preserve">

      <!-- loop for thumbs and labels -- Home through Personal Stories -->
      <g id="rects">
        <a v-for="(mockup, index) in mockups" :key="mockup.slug" 
          :href="mockup.slug" @click.prevent="openMockup(index)">
          <image :x="mockup.svgx" :y="mockup.svgy" width="96" height="96" 
            :xlink:href="'mockups/menupics/' + mockup.imageName + '.jpg'"></image>
          <text 
            :x="mockup.svgx" :y="mockup.svgy - 8" class="thumb-label-text">{{ index + 1 }}. 
            {{ mockup.shortTitle }}</text>
          </a>          
      </g>

      <g id="lines">
        <g id="line-scrollstory">
          <g>
            <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="99.4" y1="405.5" x2="102.4" y2="405.5"/>
            
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="6.2252,6.2252,6.2252,6.2252" x1="108.6" y1="405.5" x2="130.4" y2="405.5"/>
            
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="6.2252,6.2252,6.2252,6.2252,6.2252,6.2252" x1="133.5" y1="405.5" x2="503.9" y2="405.5"/>
            <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="507,405.5 510,405.5 510,402.5       "/>
            
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="5.6604,5.6604,5.6604,5.6604" x1="510" y1="396.8" x2="510" y2="377"/>
            
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="5.6604,5.6604,5.6604,5.6604,5.6604,5.6604" x1="510" y1="374.2" x2="510" y2="105.3"/>
            <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="510,102.5 510,99.5 513,99.5       "/>
            
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="5.7009,5.7009,5.7009,5.7009" x1="518.7" y1="99.5" x2="538.7" y2="99.5"/>
            
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="5.7009,5.7009,5.7009,5.7009,5.7009,5.7009" x1="541.5" y1="99.5" x2="607.1" y2="99.5"/>
            <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="609.9" y1="99.5" x2="612.9" y2="99.5"/>
            <g>
              <polygon points="609.6,103.6 608.9,102.8 612.5,99.5 608.9,96.1 609.6,95.4 614,99.5        "/>
            </g>
          </g>
        </g>        
        <g id="line-visualrecord">
          <g>
            <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="767" y1="989" x2="770" y2="989"/>
            
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="3.7292,3.7292,3.7292,3.7292" x1="773.7" y1="989" x2="786.8" y2="989"/>
            
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="3.7292,3.7292,3.7292,3.7292,3.7292,3.7292" x1="788.6" y1="989" x2="809.2" y2="989"/>
            <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="811,989 814,989 814,992       "/>
            <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="6,6,6,6" x1="814" y1="998" x2="814" y2="1019"/>
            
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="6,6,6,6,6,6" x1="814" y1="1022" x2="814" y2="1163"/>
            <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="814,1166 814,1169 817,1169      "/>
            
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="6.2729,6.2729,6.2729,6.2729" x1="823.3" y1="1169" x2="845.2" y2="1169"/>
            
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="6.2729,6.2729,6.2729,6.2729,6.2729,6.2729" x1="848.4" y1="1169" x2="995.8" y2="1169"/>
            <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="998.9" y1="1169" x2="1001.9" y2="1169"/>
            <g>
              <polygon points="998.6,1173.1 997.9,1172.4 1001.6,1169 997.9,1165.7 998.6,1165 1003,1169        "/>
            </g>
          </g>
        </g>
        <g id="line-map_2_">
          <g>
            <polyline fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="6,6,6,6,6,6" points="616.9,1126 487.3,1126 
              487.8,1094.1      "/>
            <g>
              <polygon points="491.8,1097.5 491.1,1098.2 487.8,1094.5 484.4,1098.1 483.7,1097.4 487.8,1093        "/>
            </g>
          </g>
        </g>
        <g id="line-personalstory_2_">
          <g>
            <polyline fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="6,6,6,6,6,6" points="398,785.1 530.9,785.1 
              530.9,509.6 615,509.5       "/>
            <g>
              <polygon points="401.3,789.2 402,788.4 398.4,785.1 402,781.7 401.3,781 396.9,785.1        "/>
            </g>
          </g>
        </g>
        <g id="line-theme_1_">
          <g>
            <polyline fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="6,6,6,6,6,6" points="768.3,423.3 814,423.3 
              814,753.3 912.5,753.3 912.4,718.4       "/>
            <g>
              <polygon points="916.5,721.7 915.7,722.4 912.4,718.8 909,722.4 908.3,721.7 912.3,717.3        "/>
            </g>
          </g>
        </g>
        
          <rect id="link-scrollstory" x="228.5" y="388" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="6,6,6,6,6,6" width="190" height="31"/>
        
          <rect id="link-scrollstory_1_" x="440.5" y="1179" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="6,6,6,6,6,6" width="95" height="59"/>
      </g> <!-- end lines -->

      <g id="text">
        <g>
          <text transform="matrix(1 0 0 1 -0.9998 16.9218)" font-family="'FontinSans-Bold'" font-size="18px">Home</text>
        </g>
        <text transform="matrix(1 0 0 1 600.4004 61.1626)"><tspan x="0" y="0" font-family="'FontinSans-Italic'" font-size="12px">Albany: Lost Places, Displaced People</tspan><tspan x="13.4" y="14.4" font-family="'FontinSans-Italic'" font-size="12px">The Reaction to Redevelopment</tspan></text>
        <g>
          <text transform="matrix(1 0 0 1 596.8501 16.9219)" font-family="'FontinSans-Bold'" font-size="18px">City/Theme Scroll Story</text>
        </g>
        <g>
          <text transform="matrix(1 0 0 1 0 194.4673)" font-family="'FontinSans-Bold'" font-size="18px">4 Cities / 4 Stories</text>
        </g>
        <g>
          <text transform="matrix(1 0 0 1 1005.5 579.9219)" font-family="'FontinSans-Bold'" font-size="18px">The Visual Record</text>
        </g>
        <text transform="matrix(1 0 0 1 814.6714 1188.7412)"><tspan x="0" y="0" font-family="'FontinSans-Italic'" font-size="12px">Learn more:</tspan><tspan x="0" y="14.4" font-family="'FontinSans-Italic'" font-size="12px">South Pearl St. Shopping District </tspan></text>
        <text transform="matrix(1 0 0 1 439.4626 827.3711)" font-family="'FontinSans-Bold'" font-size="18px">Interactive Maps</text>
        <text transform="matrix(1 0 0 1 147.4622 453.1277)" font-family="'FontinSans-Bold'" font-size="18px">Sights &amp; Sounds</text>
        <text transform="matrix(1 0 0 1 1156.1185 825.2966)" font-family="'FontinSans-Bold'" font-size="18px">Timeline</text>
        <text transform="matrix(1 0 0 1 861.4024 450.3322)" font-family="'FontinSans-Bold'" font-size="18px">Themes &amp; Essays</text>
        <text transform="matrix(1 0 0 1 296.9998 576.4921)" font-family="'FontinSans-Bold'" font-size="18px">Personal Stories</text>
        <text transform="matrix(1 0 0 1 414.132 759.155)"><tspan x="0" y="0" font-family="'FontinSans-Italic'" font-size="12px">Learn more:</tspan><tspan x="0" y="14.4" font-family="'FontinSans-Italic'" font-size="12px">Hunter’s Pharmacy</tspan></text>
        <text transform="matrix(1 0 0 1 484.5098 1144.4956)"><tspan x="0" y="0" font-family="'FontinSans-Italic'" font-size="12px">Learn more: </tspan><tspan x="0" y="14.4" font-family="'FontinSans-Italic'" font-size="12px">Albany’s Lost Places Map</tspan></text>
        <text transform="matrix(1 0 0 1 814.8984 773.4349)"><tspan x="0" y="0" font-family="'FontinSans-Italic'" font-size="12px">Learn more:</tspan><tspan x="0" y="14.4" font-family="'FontinSans-Italic'" font-size="12px">Albany’s Rooming </tspan><tspan x="0" y="28.8" font-family="'FontinSans-Italic'" font-size="12px">Houses and SROs</tspan></text>
        <g>
          <a xlink:href="stories/albany-displaced.html" >
            <text transform="matrix(1 0 0 1 270.7005 407.3754)" font-family="'FontinSans-Bold'" font-size="12px">Link to scroll story</text>
          </a>
        </g>
        <a xlink:href="map-demo.html" >
          <text transform="matrix(1 0 0 1 460.288 1205.2877)"><tspan x="0" y="0" font-family="'FontinSans-Bold'" font-size="12px">Link to </tspan><tspan x="0" y="14.4" font-family="'FontinSans-Bold'" font-size="12px">Map Demo</tspan></text>
        </a>
      </g>
      <g id="picture">  
        <a xlink:href="stories/albany-displaced.html" >
          <image overflow="visible" width="150" height="1203" xlink:href="mockups/menupics/scroll-story.jpg"  x="617" y="91"></image>
        </a>
      </g>
    </svg>

	</div> <!-- /menu-page -->

  <!-- slim pop -->
  <div 
    v-if="mockupOn"
    @click.self="closeMockup"
    :class="[lbClass]" 
    > 
    <div id="slimpop-wrapper">
      <h5>Picturing Urban Renewal Mockups</h5>

      <h1>{{ mockup.title }}</h1>
      
      <a @click="closeMockup" class="close">X</a>

      <nav> 
        <a
        v-if="prevExists"
        href="#"
        @click.stop.prevent="incrementMockup('prev')"
        >&larr; Prev: {{ prevShortTitle }}</a>
        <span v-else class="disabled">Prev</span>
        |     
        <a
        v-if="nextExists"
        href="#"
        @click.stop.prevent="incrementMockup('next')"
        >Next: {{ nextShortTitle }} &rarr;</a>
        <span v-else class="disabled">Next</span>
      </nav>

      <img :src="'mockups/images/' + mockup.imageName + '.jpg'">
      
    </div>
    
  </div>
</div> <!-- end app div -->
<script src="mockups/js/mockup2.js" type="text/javascript"></script>

</body>

</html>
